


# Python 



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()

## Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 4

In [ ]:
1 / 2

In [ ]:
2 ** 3

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(3 + 2) * (4 + 5)

### Variable Assignment

In [1]:
# Can not start with number or special characters like % or $
variable = 2

In [5]:
x = 3
y = 4

In [11]:
z = x + y

In [3]:
num_quarters = 7
num_nickels = 10

total = num_quarters +\
        num_nickels
total

17

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [11]:
a = 'good'

In [ ]:
a[3]

In [ ]:
a[4]

In [ ]:
a = [0:2]

## Boolean

In [10]:
True

True

In [11]:
False

False

### Lists

In [14]:
[1,2,3]

[1, 2, 3]

In [ ]:
['a','b','c']

In [15]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [17]:
my_list = ['a','b','c']

In [18]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [35]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [15]:
my_list = ('a','b','c')

In [16]:
my_list[0]

'a'

In [17]:
my_list[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

In [ ]:
### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

## Comparison Operators

In [21]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [5]:
seq = [1,2,3,4,5]

In [6]:
for item in seq:
    print(item)

1
2
3
4
5

In [7]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [8]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]