# Midtem-2022

- Name:
- Student Number:

#### Example1: (1 Mark)
1.create a dictionary for the consumer items which contains prices of 3 some items and names , convert the above dictionary into a series.

#### Example2: (1 Mark)
1.Create a 4x4 - 2 dimensional array and then slice it into half horizontally.

#### Example3:(3 Mark)
- Create a 3x9 data frame with some random nan values in it.
- Drop all nan values.
- Drop only those rows where all column values are nan.
- Once the row is dropped, replace the remaining nan values wih a value of 0.

#### Example4: (3 Mark)
1.Create a series with 5 elements.

2.Create a 2*5 data frame with some random values.


3.Subtract the series from the above data frame.

#### Example5:(3 Mark)

Create two figures.
1. First figure has only one subplot.
Second figure should have two subplots.
2. Plot some random data into those subplots.

#### Example6: (4 Mark)
    1. Read the dataset and create dataframe
    2. Create a new column called 'Average' that contains the Average of 3 columns (Mini_Exam1, Mini_Exam2, Mini_Exam3)
    3. use the scatter plot and find correlation between all numerical features.
    4. write your analysis on the relationship with different features?
    5. Use pie plot to display information of Grade column.